.standalone-button{
    background-color: transparent; 
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0.5rem;
    border-color: transparent;
    cursor: pointer;
  }