<div>
    <h1>Products</h1>
    <a [routerLink] = "['/shopping-cart']">
    <button  class="view-shopping-cart-button" (click) = "getShoppingCartItems()">View cart</button>
    </a>
    <table class = "view-products-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products | async">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.productCategoryDto.categoryName}}</td>
          <td>
            <a [routerLink] = "['/products', item.id]">
              <app-icon-button type="button" iconType = 'add' class="view-product-detail-button" ></app-icon-button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>