.addButton{
    background-color: #4CAF50; 
    color: white;
    border-color: #4CAF50;
    padding: 1rem 1rem;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0.3rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  .deleteButton{
    background-color: grey; 
    color: white;
    padding: 1rem 1rem;
    text-align: center;
    font-size: 15px;
    border-color: gray;
    font-weight: bold;
    margin: 0.3rem;
    border-radius: 1rem;
    cursor: pointer;
  }